<footer class="footer u-fontSizeSmaller u-fontWeightSemibold u-paddingTop20 {{#is "post"}}u-bgWhite{{/is}}">
    <div class="u-container u-maxWidth1000">

        <aside class="follow followMe u-fontSize20 u-flex u-hide-before-md">
            {{#if @blog.facebook}}<a href="{{facebook_url}}" class="godo-tracking i-facebook" title="Facebook {{@blog.facebook}}" target="_blank" rel="nofollow"></a>{{/if}}
            {{#if @blog.twitter}}<a href="{{twitter_url}}" class="godo-tracking i-twitter" title="Twitter {{@blog.twitter}}" target="_blank" rel="nofollow"></a>{{/if}}
        </aside>

        <div class="footer-wrap u-paddingBottom20 u-paddingTop20 u-textAlignCenter">
            <a href="https://bit.ly/simply-theme-ghost" target="_blank"><i class="i-github" style="font-size:18px"></i> I'm open source</a>
            — Hosting VPS <a href="https://goo.gl/EBT3A7" target="_blank">DIGITAL OCEAN</a> Free $10
        </div>
    </div>
</footer>
