<div class="godo-ad-article-medium u-marginAuto u-maxWidth1000 u-textAlignCenter">
    <!-- Ad_Post_Medium -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-3462564966072994"
        data-ad-slot="4689979662"
        data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
