<div class="godo-ad-home-top u-textAlignCenter u-maxWidth1040 u-marginAuto">
    <!-- Ad-home-top -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-3462564966072994"
        data-ad-slot="1914082064"
        data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
