<div class="godo-ad-podcast-footer u-textAlignCenter col s12 u-flex">
    <!-- Podcast - Footer -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-3462564966072994"
        data-ad-slot="5482852311"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
